<% if logged_in? %>
  <p>Welcome <%= current_user %>!</p>
  <p><%= button_to 'Log out', sessions_path, method: :delete %></p>
<% else %>
  <%= link_to 'connect with fitbit', '/auth/fitbit' %>
<% end %>
