development:
  HOSTNAME: YOURNAME-burrito.localtunnel.me
  SECRET_KEY_BASE: '3f1c9d7f79678e0534e662e23ff1ef3b39adbd3d48f79125af3fe3e03a4146312b5b7566ace487db80e5d4ebe79400b6c02d07b6c930e8730aaa04ef836cbf1f'
  FITBIT_KEY: YOUR_KEY
  FITBIT_SECRET: YOUR_SECRET
  ADMIN_USER: admin
  ADMIN_PASS: pass
  ZERO_PUSH_AUTH_TOKEN: fake-zeropush-token

test:
  HOSTNAME: burrito-test.local
  SECRET_KEY_BASE: '2a7c1e076f93a5f6c842aca2f0aa3832ef407b22cd8cb49b7bebf3112fc53cf9008a66ecd8082259ece118cd003c471f077bf9c30e69006498399f1abb3a3894'
  FITBIT_KEY: FAKE_KEY
  FITBIT_SECRET: FAKE_SECRET
  ADMIN_USER: admin
  ADMIN_PASS: pass
  ZERO_PUSH_AUTH_TOKEN: fake-zeropush-token
