development:
  HOSTNAME: YOURNAME-burrito.localtunnel.me
  SECRET_KEY_BASE: YOUR_KEY
  FITBIT_KEY: YOUR_KEY
  FITBIT_SECRET: YOUR_SECRET
  ADMIN_USER: admin
  ADMIN_PASS: pass
  ZERO_PUSH_AUTH_TOKEN: fake-zeropush-token
  APP_SECRET: 'fake-app-secret'

test:
  HOSTNAME: burrito-test.local
  SECRET_KEY_BASE: YOUR_KEY
  FITBIT_KEY: FAKE_KEY
  FITBIT_SECRET: FAKE_SECRET
  ADMIN_USER: admin
  ADMIN_PASS: pass
  ZERO_PUSH_AUTH_TOKEN: fake-zeropush-token
  APP_SECRET: 'fake-app-secret'
